span.form-required {
	display: none;
}
.parent-popup {
	width: 550px;
	height: 570px;
}
.popup-img {
	position: relative;
}

.popup-img a.close{
	position: absolute;
	right: 12px;
	width: 30px;
	height: 30px;
	top: 13px;
	cursor: pointer;
}

.popup-img a.covid{
	height: 35px;
	position: absolute;
	width: 392px;
	bottom: 62px;
	left: 77px;
	cursor: pointer;
}

.colorbox-hidden-popup {
	display: none;
}

#cboxClose {

}